Telemedicine.API/obj/Debug/netcoreapp2.2/Telemedicine.API.pdb
Telemedicine.API/bin/Debug/netcoreapp2.2/Telemedicine.API.deps.json
Telemedicine.API/bin/Debug/netcoreapp2.2/Telemedicine.API.dll
Telemedicine.API/bin/Debug/netcoreapp2.2/Telemedicine.API.pdb
Telemedicine.API/bin/Debug/netcoreapp2.2/Telemedicine.API.runtimeconfig.dev.json
Telemedicine.API/obj/project.assets.json
Telemedicine.API/obj/Telemedicine.API.csproj.nuget.cache
Telemedicine.API/obj/Telemedicine.API.csproj.nuget.dgspec.json
Telemedicine.API/obj/Telemedicine.API.csproj.nuget.g.props
Telemedicine.API/obj/Debug/netcoreapp2.2/project.razor.json
Telemedicine.API/obj/Debug/netcoreapp2.2/Telemedicine.API.assets.cache
Telemedicine.API/obj/Debug/netcoreapp2.2/Telemedicine.API.csproj.CoreCompileInputs.cache
Telemedicine.API/obj/Debug/netcoreapp2.2/Telemedicine.API.csproj.FileListAbsolute.txt
Telemedicine.API/obj/Debug/netcoreapp2.2/Telemedicine.API.csprojAssemblyReference.cache
Telemedicine.API/obj/Debug/netcoreapp2.2/Telemedicine.API.dll
