
<link href="https://unpkg.com/bootstrap-css-only@4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.27.20/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.6.2/dist/flatpickr.css" rel="stylesheet">

<br /><br />

<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  
  <div [ngSwitch]="view">
    <mwl-calendar-month-view 
      *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" 
      (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    
    <mwl-calendar-week-view 
      *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>

<br /><br /><br />
<!-- Add new appointment functionality -->
<div class="container" *ngIf="newEvents.length > 0">
  <h3>
    New Appointment
  </h3>

  <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <!-- <th>Ends at</th> -->
            <th>Schedule</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let event of newEvents">
            <td>
                <select [(ngModel)]="selectedDoctor">
                  <option *ngFor="let d of patients" [value]="d.id">{{d.firstName}} {{d.lastName}}</option>
                </select>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()"/>
            </td>
            <td>
              <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()"/>
            </td>
            <td>
              <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()"/>
            </td>
            <td>

                <button 
                mwlFlatpickr [(ngModel)]="event.start" 
                (ngModelChange)="refresh.next()" 
                [convertModelValue]="true"
                [enableTime]="true" 
                minuteIncrement="30"
                dateFormat="Y-m-dTH:i"
                ><i class="fa fa-calendar"></i></button>
    
                <label> {{event.start | date: 'medium'}} </label>

              <!-- <input 
                class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" 
                (ngModelChange)="refresh.next()" 
                [altInput]="true" 
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set"/> -->
            </td>
            <!-- <td>
              <input
                class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()" 
                [altInput]="true" 
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set"/>
                <label> {{apt.endDate | date: 'medium'}} </label>
            </td> -->
            <td>
              <button class="btn btn-danger" (click)="ScheduleEvent(event)"> <!-- add event method call here-->
                Schedule
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<!-- Edit Appointment Functionality -->
<div class="container">
  <h3>
    Edit Appointments
    <button class="btn btn-primary pull-right" (click)="addNewEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Patient</th>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let apt of appointments">
          <td>
              {{apt.patientFirstName}} {{apt.patientLastName}}
          </td>
          <td> 
            <input id="titleInput" type="text" class="form-control" [(ngModel)]="apt.title" 
            (change)="updateAppointment(apt.id, apt)"/>
          </td>
          <td>
            <input type="color" [(ngModel)]="apt.primaryColor" (change)="updateAppointment(apt.id, apt)"/>
          </td>
          <td>
            <input type="color" [(ngModel)]="apt.secondaryColor" (change)="updateAppointment(apt.id, apt)"/>
          </td>
          <td>

            <button 
            mwlFlatpickr [(ngModel)]="apt.startDate" 
            (ngModelChange)="updateAppointment(apt.id, apt)" 
            [convertModelValue]="true"

            [enableTime]="true" 
            minuteIncrement="30"
            dateFormat="Y-m-dTH:i"
            ><i class="fa fa-calendar"></i></button>

              <!-- <input 
              class="form-control" type="text" mwlFlatpickr [(ngModel)]="apt.startDate" 
              (ngModelChange)="updateAppointment(apt.id, apt)" 
              [altInput]="true" 
              [convertModelValue]="true"
              [enableTime]="true" minTime="8:00" maxTime="17:00" minuteIncrement="30"
              dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set"/> -->

            <label> {{apt.startDate | date: 'medium'}} </label>

          </td>
          <td>
            <label> {{apt.endDate | date: 'medium'}} </label>
          </td>
          <td>
              <!-- must delete event too -->
            <button class="btn btn-danger" (click)="deleteAppointment(apt.id)">  
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary">
      OK
    </button>
  </div>
</ng-template>